<div>
  <ul class="text-right menu list-inline">
    <% pp params %>
    <% if user_signed_in? %>
        <li class="list-inline-item"><%= link_to "Dashboard", dashboard_path %></li>
        <li class="list-inline-item"><%= link_to "My Items", user_items_path %></li>
        <li class="list-inline-item"><%= link_to "Chatrooms", chatrooms_path %></li>
        <li class="list-inline-item"><%= link_to "Edit profile", edit_user_registration_path %></li>
        <li class="list-inline-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% tag = 'defaultavatar' %>
        <% tag = current_user.avatar.key if current_user.avatar.attached? == true %>
        <li class="list-inline-item"><%= cl_image_tag tag, class: "avatar" %></li>
    <% end %>
  </ul>
</div>
