<h1>Looks like you found a <%= @item.name %>!</h1>
<div class="d-flex justify-content-center">
  <div class="w-25 text-center">
      <% tag = 'defaultavatar' %>
      <% tag = @user.avatar.key if @user.avatar.attached? == true %>
      <%= cl_image_tag tag, class: "avatar-huge" %>
      <br>
      <p><strong><%= @user.incomplete_name %></strong></p>
      <p><%= @item.message %></p>
  </div>

  <div class="w-25 d-flex justify-content-center align-items-center">
    <% if current_user.nil? %>
      <h2>To reach <strong><%= @user.incomplete_name %></strong><br>please <%= link_to 'sign-up', new_user_registration_path, class: "btn btn-outline-primary" %> or <%= link_to 'sign-in', new_user_session_path, class: "btn btn-outline-primary" %> </h2>"
    <% else %>
      <%= simple_form_for Chatroom.new do |f| %>
        <%= f.input :user_id, input_html: {value: @user.id}, as: :hidden %>
        <%= f.input :item_id, input_html: {value: @item.id}, as: :hidden %>
        <h4><%= f.submit 'Start the chat' %></h4>"
      <% end %>
    <% end %>
  </div>
</div>
