<div class="container">
    <%= render 'shared/navbar' %>
  <br>
  <h3>Hello! Looks like you found an item that belongs to: <strong><%= @user.incomplete_name %></strong> </h3>
  <div class="row p-2">
    <div class="col-3">
      <% tag = 'defaultavatar' %>
      <% tag = @user.avatar.key if @user.avatar.attached? == true %>
      <%= cl_image_tag tag, class: "avatar-large" %>
    </div>
    <div class="col-9">
      <p class="text-justify"><%= @user.generic_message %></p>
    </div>
  </div>
  <br>
  <% if current_user.nil? %>
    <h4>To reach <%= @user.incomplete_name %> please <%= link_to 'sign-up', new_user_registration_path %> or <%= link_to 'sign-in', new_user_session_path %> </h4>"
  <% else %>
      <%= simple_form_for Chatroom.new do |f| %>
      <%= f.input :user_id, input_html: {value: @user.id}, as: :hidden %>
        <h4> <%= f.submit 'start the chat' %></h4>"
      <% end %>
  <% end %>
</div>
