<!DOCTYPE html>
<html>
  <head>
    <title>FOUND</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' unless (params[:controller] == 'devise/sessions' || params[:controller] == 'devise/registrations' || !user_signed_in?) %>
    <%= yield %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' unless !user_signed_in? %>
  </body>
</html>
